
body {
  margin: 0px;
}

.footer {
  height: 150px;
  background-color: lightgrey;
  display: flex;
  justify-content:space-around;
}

.title {
  font-weight: bold;
  font-size: 12px;
}

#one > title{
  line-height: 200%;
}

#three > title{
  padding-bottom: 50px;
}

.info {
  font-size: 10px;
}

.item {
  padding: 10px;
  width: 150px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
}
